.btn{
  color: #F6931D;
  border: 1px solid #F6931D;
  font-family: serif;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  color: #fff;
  background-color: #F6931D;
  opacity: 0.9;
  transition-duration: 0.7s;
}